* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  position: relative;
}

#cvc-header {
  background-color: rgb(167, 223, 255);
}

/*navbar */

.navbar {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: normal;
  background-color: rgb(167, 223, 255);
}

.navbar.fixed-top.scrolled {
  background-color: blueviolet !important;
  transition: background-color 200ms linear;
}

.navbar-brand {
  font-weight: bold;
  color: white;
  font-size: 50px;
  margin-left: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand:hover {
  font-weight: bold;
  font-size: 50px;
  color: black;
  margin-left: 20px;
}

.collapse {
  margin-right: 20px;
}

.nav-item {
  padding-left: 100px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.nav-item a:hover {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 30px;
}
